<html>

<%= render :partial => "titulo" %>

<h1>Adicionando Restaurante</h1>

	<%= error_messages_for :restaurante %>

	<%form_for :restaurante, :url => { :action => 'create'}, :html => {:multipart=>true} do |f| %>
		
		Nome: <%= f.text_field :nome %><br/>
		Endereço: <%= f.text_field :endereco %><br/>
		Especialidade: <%= f.text_field :especialidade %><br/>
		<%= submit_tag 'Create' %>
		<%= f.file_field :foto %>
	<% end %>

	<%= link_to 'Back', { :action => 'index'} %>

</html>
